<a href="https://colab.research.google.com/github/Jayveersinh-Raj/data_cleaning_infosys_dataset/blob/main/data_cleaning_infosys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_excel('Infosy_test_multocorr.xlsx')

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Web Extension extension is not supported and will be removed
  warn(msg)

In [10]:
df

,Prev Close,Open Price,High Price,Low Price,Last Traded Price on that day,Close Price,Average Price,Total Traded Quantity,"Turnover (Total shares transacted, price*vol)",No. of Trades(orders),...,cumulative (TPV)(Daily),cumulative volume(Daily),(500209 (2)INFYVOLUME WEIGHTED MOVING AVERAGE (VWMA)(Daily),WILLIAMS %R (%R),Spread High-Low,Spread Close-Open,(MA030620-1)Security VaR,VWAP,Nifty 50 Close price,Index VaR
0,731.15,735.00,740.00,732.55,739.35,736.85,735.35,2112415,1.553369e+09,36769,...,NaN,NaN,NaN,NaN,7.45,1.85,0.9430,736.466667,12182.50,NaN
1,736.85,738.90,740.80,730.90,735.75,734.70,735.22,5658200,4.160025e+09,102483,...,NaN,NaN,NaN,NaN,9.90,-4.20,1.0215,735.466667,12282.20,0.0030
2,734.70,733.90,748.00,733.90,745.00,746.00,744.67,7882938,5.870173e+09,105632,...,NaN,NaN,NaN,NaN,14.10,12.10,0.8870,742.633333,12226.65,1.5555
3,746.00,746.10,753.80,736.50,738.50,738.85,743.51,6519403,4.847237e+09,129992,...,NaN,NaN,NaN,NaN,17.30,-7.25,1.0715,743.050000,11993.05,3.3360
4,738.85,738.00,742.60,725.10,729.30,727.90,734.63,7899363,5.803120e+09,189680,...,NaN,NaN,NaN,NaN,17.50,-10.10,1.1095,731.866667,12052.95,0.4010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,1253.05,1249.90,1249.90,1226.00,1237.35,1236.05,1236.34,7313885,9.042416e+09,172066,...,2.296971e+12,2.639912e+09,870.093917,-18.640646,23.90,-13.85,1.1700,1237.316667,13749.25,-0.4815
248,1236.05,1238.45,1248.00,1236.00,1239.45,1240.30,1240.58,4607051,5.715406e+09,123013,...,2.302690e+12,2.644519e+09,870.740833,-8.025013,12.00,1.85,0.9575,1241.433333,13873.20,-0.2395
249,1240.30,1235.00,1254.45,1235.00,1249.85,1250.30,1246.33,6878105,8.572420e+09,132402,...,2.311265e+12,2.651397e+09,871.715822,-5.296745,19.45,15.30,0.9000,1246.583333,13932.60,0.4060
250,1250.30,1253.00,1253.30,1238.15,1244.00,1246.80,1247.48,5194690,6.480283e+09,107704,...,2.317738e+12,2.656591e+09,872.447859,-42.579505,15.15,-6.20,1.0350,1246.083333,13981.95,0.5065
251,1246.80,1243.00,1258.40,1239.00,1253.50,1255.80,1249.41,7430470,9.283732e+09,117406,...,2.327034e+12,2.664022e+09,873.503900,-8.024691,19.40,12.80,0.9100,1251.066667,13981.75,1.0020

# Filling NaN values with 0s to find the mean

In [30]:
df = df.fillna(0)

In [37]:
df.head()

,Prev Close,Open Price,High Price,Low Price,Last Traded Price on that day,Close Price,Average Price,Total Traded Quantity,"Turnover (Total shares transacted, price*vol)",No. of Trades(orders),...,cumulative (TPV)(Daily),cumulative volume(Daily),(500209 (2)INFYVOLUME WEIGHTED MOVING AVERAGE (VWMA)(Daily),WILLIAMS %R (%R),Spread High-Low,Spread Close-Open,(MA030620-1)Security VaR,VWAP,Nifty 50 Close price,Index VaR
0,731.15,735.0,740.0,732.55,739.35,736.85,735.35,2112415,1.553369e+09,36769,...,0.0,0.0,0.0,0.0,7.45,1.85,0.9430,736.466667,12182.50,0.0000
1,736.85,738.9,740.8,730.90,735.75,734.70,735.22,5658200,4.160025e+09,102483,...,0.0,0.0,0.0,0.0,9.90,-4.20,1.0215,735.466667,12282.20,0.0030
2,734.70,733.9,748.0,733.90,745.00,746.00,744.67,7882938,5.870173e+09,105632,...,0.0,0.0,0.0,0.0,14.10,12.10,0.8870,742.633333,12226.65,1.5555
3,746.00,746.1,753.8,736.50,738.50,738.85,743.51,6519403,4.847237e+09,129992,...,0.0,0.0,0.0,0.0,17.30,-7.25,1.0715,743.050000,11993.05,3.3360
4,738.85,738.0,742.6,725.10,729.30,727.90,734.63,7899363,5.803120e+09,189680,...,0.0,0.0,0.0,0.0,17.50,-10.10,1.1095,731.866667,12052.95,0.4010

# Mean of each column

In [32]:
mean = []
for i,j in df.items():
    sum = 0
    for items in j:
      sum = sum + items
    mean.append(sum/252)

mean

[868.1831349206345,
 869.3775793650789,
 882.1797619047617,
 858.7323412698412,
 870.6027777777782,
 870.2650793650789,
 870.4810714285713,
 10778789.333333334,
 9388124861.439287,
 192823.79761904763,
 4852004.424603174,
 46.69666666666663,
 11.015989328273735,
 429.6235838026761,
 2.0571428571428574,
 -2.0097222222222224,
 25.940873015872995,
 2.0381235827664406,
 -2.0070578231292524,
 25.866879251700684,
 0.028158223254090273,
 -11.45035037807775,
 -0.6691027169932233,
 -0.6730696309225105,
 24.525203625364913,
 854.4818650793651,
 0.00216414453395158,
 0.018042224053244134,
 0.02007795634667093,
 818.3911750573154,
 818.3202535141124,
 3.916361028173921e-05,
 23.253968253968253,
 848.6592720798867,
 2.5292467975417283,
 844.049933862434,
 840.2681349206351,
 13.258915343915335,
 13.194269841269842,
 20.57049474467955,
 1756.3133730158734,
 -0.0001299397886131598,
 857.4670101751248,
 471.7613095238094,
 156.1678571428571,
 315.59345238095233,
 585.750992063492,
 223.75687896825403,
 195.03675357142856,
 28.56448412698413,
 49.01984126984126,
 55.20730819926278,
 54.091524200438954,
 53.00871965080071,
 834.8923941798945,
 5101340583.67586,
 3921962136.8430552,
 1.5171296296296295,
 50.08212796903273,
 825.3934168331264,
 566.9418849540046,
 258.4515318791222,
 252.61235803163936,
 4.384766891098063,
 183388761.91269842,
 852.9003968253971,
 841.2964285714285,
 829.7980158730153,
 818.194047619048,
 864.3988095238093,
 876.0027777777772,
 887.5011904761905,
 45.94416193540721,
 1.2030037213751121,
 7.827579365079363,
 5.69424603174603,
 7.738055555555552,
 5.669642857142859,
 7.708341269841268,
 5.656626984126984,
 2.8936179935121875,
 53.00750536168823,
 833.9580555555557,
 13.09643393869773,
 852.9003968253971,
 9273130945.329958,
 987238124085.4003,
 1270220712.2222223,
 733.7309931978793,
 -42.355307062165544,
 23.447420634920636,
 0.8874999999999976,
 0.9791805555555556,
 870.3923941798947,
 11161.474801587297,
 0.9246329365079364]

# Replace 0 with Nan now so to replace it with the mean

In [43]:
df.replace(to_replace = 0,  value = pd.NA, inplace=True)

In [44]:
df.head()

,Prev Close,Open Price,High Price,Low Price,Last Traded Price on that day,Close Price,Average Price,Total Traded Quantity,"Turnover (Total shares transacted, price*vol)",No. of Trades(orders),...,cumulative (TPV)(Daily),cumulative volume(Daily),(500209 (2)INFYVOLUME WEIGHTED MOVING AVERAGE (VWMA)(Daily),WILLIAMS %R (%R),Spread High-Low,Spread Close-Open,(MA030620-1)Security VaR,VWAP,Nifty 50 Close price,Index VaR
0,731.15,735.0,740.0,732.55,739.35,736.85,735.35,2112415,1.553369e+09,36769,...,<NA>,<NA>,<NA>,<NA>,7.45,1.85,0.9430,736.466667,12182.50,<NA>
1,736.85,738.9,740.8,730.90,735.75,734.70,735.22,5658200,4.160025e+09,102483,...,<NA>,<NA>,<NA>,<NA>,9.90,-4.20,1.0215,735.466667,12282.20,0.003
2,734.70,733.9,748.0,733.90,745.00,746.00,744.67,7882938,5.870173e+09,105632,...,<NA>,<NA>,<NA>,<NA>,14.10,12.10,0.8870,742.633333,12226.65,1.5555
3,746.00,746.1,753.8,736.50,738.50,738.85,743.51,6519403,4.847237e+09,129992,...,<NA>,<NA>,<NA>,<NA>,17.30,-7.25,1.0715,743.050000,11993.05,3.336
4,738.85,738.0,742.6,725.10,729.30,727.90,734.63,7899363,5.803120e+09,189680,...,<NA>,<NA>,<NA>,<NA>,17.50,-10.10,1.1095,731.866667,12052.95,0.401

# Replace missing values with the mean of the column

In [47]:
for i,j in df.items():
     df[i].replace(to_replace = pd.NA,  value = mean[df.columns.get_loc(i)], inplace=True)

In [48]:
df.head()

,Prev Close,Open Price,High Price,Low Price,Last Traded Price on that day,Close Price,Average Price,Total Traded Quantity,"Turnover (Total shares transacted, price*vol)",No. of Trades(orders),...,cumulative (TPV)(Daily),cumulative volume(Daily),(500209 (2)INFYVOLUME WEIGHTED MOVING AVERAGE (VWMA)(Daily),WILLIAMS %R (%R),Spread High-Low,Spread Close-Open,(MA030620-1)Security VaR,VWAP,Nifty 50 Close price,Index VaR
0,731.15,735.0,740.0,732.55,739.35,736.85,735.35,2112415,1.553369e+09,36769,...,9.872381e+11,1.270221e+09,733.730993,-42.355307,7.45,1.85,0.9430,736.466667,12182.50,0.924633
1,736.85,738.9,740.8,730.90,735.75,734.70,735.22,5658200,4.160025e+09,102483,...,9.872381e+11,1.270221e+09,733.730993,-42.355307,9.90,-4.20,1.0215,735.466667,12282.20,0.003000
2,734.70,733.9,748.0,733.90,745.00,746.00,744.67,7882938,5.870173e+09,105632,...,9.872381e+11,1.270221e+09,733.730993,-42.355307,14.10,12.10,0.8870,742.633333,12226.65,1.555500
3,746.00,746.1,753.8,736.50,738.50,738.85,743.51,6519403,4.847237e+09,129992,...,9.872381e+11,1.270221e+09,733.730993,-42.355307,17.30,-7.25,1.0715,743.050000,11993.05,3.336000
4,738.85,738.0,742.6,725.10,729.30,727.90,734.63,7899363,5.803120e+09,189680,...,9.872381e+11,1.270221e+09,733.730993,-42.355307,17.50,-10.10,1.1095,731.866667,12052.95,0.401000

# Normalised

In [51]:
from sklearn.preprocessing import MinMaxScaler
scaled = MinMaxScaler().fit_transform(df)

In [56]:
df_columns = df.columns.values.tolist()
normalized_df = pd.DataFrame(scaled, columns = df_columns)

In [62]:
normalized_df.head()

,Prev Close,Open Price,High Price,Low Price,Last Traded Price on that day,Close Price,Average Price,Total Traded Quantity,"Turnover (Total shares transacted, price*vol)",No. of Trades(orders),...,cumulative (TPV)(Daily),cumulative volume(Daily),(500209 (2)INFYVOLUME WEIGHTED MOVING AVERAGE (VWMA)(Daily),WILLIAMS %R (%R),Spread High-Low,Spread Close-Open,(MA030620-1)Security VaR,VWAP,Nifty 50 Close price,Index VaR
0,0.281723,0.303529,0.259685,0.305995,0.290191,0.288476,0.284119,0.010933,0.003230,0.000000,...,0.422539,0.474965,0.279111,0.57829,0.000000,0.527410,0.533932,0.281920,0.717587,0.380160
1,0.289568,0.308773,0.260826,0.303734,0.285221,0.285528,0.283938,0.050640,0.035038,0.073028,...,0.422539,0.474965,0.279111,0.57829,0.027359,0.484056,0.590305,0.280525,0.733234,0.330169
2,0.286609,0.302050,0.271099,0.307845,0.297991,0.301021,0.297098,0.075554,0.055906,0.076528,...,0.422539,0.474965,0.279111,0.57829,0.074260,0.600860,0.493716,0.290525,0.724516,0.414379
3,0.302161,0.318454,0.279375,0.311408,0.289018,0.291218,0.295482,0.060285,0.043424,0.103599,...,0.422539,0.474965,0.279111,0.57829,0.109994,0.462200,0.626212,0.291107,0.687854,0.510957
4,0.292320,0.307563,0.263394,0.295786,0.276317,0.276205,0.283116,0.075738,0.055088,0.169931,...,0.422539,0.474965,0.279111,0.57829,0.112228,0.441777,0.653501,0.275501,0.697255,0.351757

# Standardised

In [60]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler().fit_transform(df)
std_df = pd.DataFrame(std, columns = df_columns)

In [61]:
std_df.head()

,Prev Close,Open Price,High Price,Low Price,Last Traded Price on that day,Close Price,Average Price,Total Traded Quantity,"Turnover (Total shares transacted, price*vol)",No. of Trades(orders),...,cumulative (TPV)(Daily),cumulative volume(Daily),(500209 (2)INFYVOLUME WEIGHTED MOVING AVERAGE (VWMA)(Daily),WILLIAMS %R (%R),Spread High-Low,Spread Close-Open,(MA030620-1)Security VaR,VWAP,Nifty 50 Close price,Index VaR
0,-0.733109,-0.712466,-0.755484,-0.672798,-0.696787,-0.708526,-0.721051,-1.154387,-1.094399,-1.510672,...,-0.040161,-0.044214,-0.350046,0.039899,-1.204030,0.063218,-0.191907,-0.712740,0.724989,-0.001931
1,-0.702615,-0.691789,-0.751233,-0.681595,-0.715898,-0.719944,-0.721745,-0.682078,-0.730288,-0.874535,...,-0.040161,-0.044214,-0.350046,0.039899,-1.019633,-0.334151,0.224469,-0.718062,0.795782,-0.486890
2,-0.714117,-0.718299,-0.712975,-0.665600,-0.666792,-0.659933,-0.671320,-0.385736,-0.491406,-0.844051,...,-0.040161,-0.044214,-0.350046,0.039899,-0.703525,0.736446,-0.488939,-0.679921,0.756338,0.330029
3,-0.653663,-0.653615,-0.682156,-0.651737,-0.701299,-0.697905,-0.677510,-0.567363,-0.634295,-0.608237,...,-0.040161,-0.044214,-0.350046,0.039899,-0.462680,-0.534478,0.489676,-0.677704,0.590468,1.266919
4,-0.691915,-0.696561,-0.741668,-0.712521,-0.750140,-0.756057,-0.724893,-0.383548,-0.500772,-0.030433,...,-0.040161,-0.044214,-0.350046,0.039899,-0.447627,-0.721668,0.691233,-0.737221,0.633001,-0.277464

# The function to find correlation matrix and remove using thresold the correlated columns

In [75]:
import numpy as np
def drop_correlated(dataframe, thresold_abs):
    cor_matrix = dataframe.corr().abs()
    upper_tri = cor_matrix.where(np.triu(np.ones(cor_matrix.shape),k=1).astype(np.bool))
    
    to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > thresold_abs)]
    df_new = dataframe.drop(to_drop, axis=1)
    return df_new

## Used on the original dataset, can use the function for standardised and/pr normalised too

In [78]:
df_new = drop_correlated(df, 0.4)
df_new

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  after removing the cwd from sys.path.

,Prev Close,Total Traded Quantity,% Dly Qt to Traded Qty,DM14(+),Directional Indicator DI14(-),Directional Index (DX),ADX,Daily Return,CHAIKIN MONEY FLOW (CHMF),CHAIKIN VOLATILITY(ChV)Volatility,EASE OF MOVEMENT (EMV),FULL STOCHASTIC (FS)%K(Full)
0,731.15,2112415,26.59,2.038124,-11.450350,-0.669103,-0.673070,0.002164,0.000039,2.529247,-0.000130,54.091524
1,736.85,5658200,60.33,2.038124,-11.450350,-0.669103,-0.673070,0.002164,0.000039,2.529247,0.000319,54.091524
2,734.70,7882938,46.72,1.257143,10.692614,0.977210,-0.673070,0.002164,0.000039,2.529247,0.000395,54.091524
3,746.00,6519403,44.04,7.100000,-5.996666,-1.180149,0.823112,0.002164,0.000039,2.529247,0.000366,54.091524
4,738.85,7899363,50.34,4.585714,-6.041121,-1.091703,-1.173831,-0.013416,0.000039,2.529247,0.000019,54.091524
...,...,...,...,...,...,...,...,...,...,...,...,...
247,1253.05,7313885,36.06,31.860714,-59.194914,-1.029090,-1.009880,0.003432,0.000077,5.016262,-0.000745,59.001213
248,1236.05,4607051,45.55,-8.446429,-10.796374,-0.941523,-1.022835,0.008030,0.000087,4.754686,-0.003208,85.124121
249,1240.30,6878105,46.81,-1.303571,88.583366,1.002351,-0.802675,-0.002803,0.000080,5.238592,0.001348,67.892255
250,1250.30,5194690,45.79,5.907143,2.280014,0.761583,0.985154,0.007193,0.000057,4.183073,-0.001031,94.967286
251,1246.80,7430470,53.48,-0.703571,65.579623,1.001389,0.778712,0.002164,0.000059,2.814942,0.000714,75.885113